<table ng-controller="CharacterTableController" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Character</th>
      <th>Pronounciation</th>
      <th>Part of Speech</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <% flash_cards.each do |fc| %>
      <tr>
        <td ng-show="show.simplified()"><%= fc[:simplified] %></td>
        <td ng-show="show.traditional()"><%= fc[:traditional] %></td>
        <td ng-show="show.pinyin()"><%= fc[:pinyin] %></td>
        <td ng-show="show.jyutping()"><%= fc[:jyutping] %></td>
        <td><%= fc[:part_of_speech] %></td>
        <td><%= fc[:meaning] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
