<% content_for :title do %>
  <%= @song.title %>
<% end %>

<% content_for :head do %>
  <script src="https://www.youtube.com/iframe_api"></script>

  <script>
    window.globals.urls.get = "<%= song_path(@song, :format => :json) %>";
  </script>
<% end %>

<div class="page-header">
  <h1>
    <%= @song[:title] %>
    <small>by <%= @song[:artist] %></small>
  </h1>
</div>

<div class="row" ng-controller="KaraokeController">
  <div class="col-md-4">
      <iframe
        id="youtube-player"
        width="100%"
        height="240"
        frameborder="0"
        src="https://www.youtube.com/embed/<%= @song[:youtubeId] %>?enablejsapi=1"></iframe>
  </div>

  <div class="col-md-4">
    <div class="well well-sm" ng-repeat="verse in model.song.verses">
      <p
        ng-repeat="line in verse"
        ng-bind-html="display.lyrics.format.tooltipped(line, verse)">
      </p>
    </div>
  </div>

</div>
