<% content_for :title do %>
  <%= @song.title %>
<% end %>

<% content_for :head do %>
  <script src="https://www.youtube.com/iframe_api"></script>

  <script>
    window.globals.urls.get = "<%= song_path(@song, :format => :json) %>";
  </script>
<% end %>

<div class="page-header">
  <h1>
    <%= @song[:title] %>
    <small>by <%= @song[:artist] %></small>
  </h1>
</div>

<div class="row" ng-controller="KaraokeController">
  <%= render_actions @song %>

  <div class="col-md-6">
      <iframe
        id="youtube-player"
        width="100%"
        height="240"
        frameborder="0"
        src="https://www.youtube.com/embed/<%= @song[:youtubeId] %>?enablejsapi=1">
      </iframe>

      <div ng-bind-html="display.lyrics.currentLine()">
      </div>

      <%= render_characters @song.flash_cards %>
  </div>

  <div class="col-md-6">
    <div ng-repeat="verse in model.song.verses">
      <div ng-repeat="line in verse">
        <p class="cursor-hand"
          ng-class="style.song.lyricLine(line)"
          ng-click="handlers.song.jumpTo(line)"
          ng-bind-html="display.lyrics.format.tooltipped(line, verse)"></p>
      </div>

      <hr>
    </div>
  </div>

</div>
