<% content_for :title do %>
  <%= @song.title %>
<% end %>

<div class="page-header">
  <h1><%= @song.title %></h1>
  <em>by <%=@song.artist%></em>
</div>

<div class="row">
  <div class="span6">
    <iframe
      width="100%"
      height="256"
      src="<%= @song.url %>"
      frameborder="0"
      allowfullscreen></iframe>
  </div>

  <div class="span6">
    <%= render_actions @song %>
    <%= render_characters @song.flash_cards %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <% @song.lyric.lines.each do |line| %>
      <p><%= inject_tooltip_hints line.traditional, @song.flash_cards %><br><%= line.translation %></p>
    <% end %>
  </div>
</div>
