<% content_for :title do %>
  <%= @song.title %>
<% end %>

<% content_for :head do %>
  <script src="https://www.youtube.com/iframe_api"></script>
<% end %>

<div class="page-header">
  <h1>
    <%= @song[:title] %>
    <small>by <%= @song[:artist] %></small>
  </h1>
</div>

<div class="row">
  <div class="span6">
    <div id="video-stub" data-url="<%= @song[:url] %>">
      <!-- Generated -->
    </div>
    <div id="karaoke-stub" class="row">
      <!-- Generated -->
    </div>
  </div>

  <div class="span6">
  </div>
</div>

<div class="row">
  <!-- Lyrics -->
  <div class="span6">
    <%= render_lyrics @song unless @song[:lyric].nil? %>
  </div>

  <!-- Characters Table -->
  <div class="span6">
    <%= render_actions @song %>
    <%= render_characters @song.flash_cards %>
  </div>
</div>
