<h1><%= @song.title %></h1>

<em>by <%=@song.artist%></em>

<div>
<iframe
  width="560"
  height="315"
  src="<%= @song.url %>"
  frameborder="0"
  allowfullscreen><%= @song.title %></iframe>
</div>

<%= render :partial => "layouts/characters", :locals => {
  :flash_cards => @song.flash_cards
} %>
