<%= form_for @drill,
  :url => { :action => action },
  :html => {
    :class => "form-horizontal",
    :role => "form"
  },
  :method => method do |form| %>

  <fieldset ng-controller="DrillFormController">
    <legend>Drill</legend>
    <%= render_field form, @errors, :title, :text_field, {
      :class => "form-control",
      "ng-model" => "model.drill.title",
    } %>

    <%= render_field form, @errors, :description, :text_field, {
      :class => "form-control",
      "ng-model" => "model.drill.description",
    } %>

    <%= render :partial => "flash_cards/form" %>

    <div class="row">
      <%= form.submit :class => "btn btn-primary",
        "ng-disabled" => "!permissions.drill.create()" %>
    </div>
  </fieldset>

<% end %>
