<% content_for :title do %>
  <%= @drill[:title] %>
<% end %>

<% content_for :head do %>
<%# TODO do things %>
<% end %>

<% content_for :navigation do %>
  <%= render_actions @drill, :quiz, :grid, :edit %>
<% end %>

<div class="page-header">
  <h1>
    <%= @drill[:title] %>
    <small><%= @drill[:description] %></small>
    <span class="small glyphicon"
      ng-controller="PinController"
      ng-class="style.pin()"
      ng-click="handlers.togglePin()"></span>
  </h1>
</div>

<div class="row">
  <div class="span12">
    <%= render_characters @drill.flash_cards %>
  </div>
</div>
