<% content_for :title do %>
  <%= @drill[:title] %>
<% end %>

<% content_for :navigation do %>
  <%= render_actions @drill %>
<% end %>

<div class="page-header">
  <h1>
    <%= @drill[:title] %>
    <small><%= @drill[:description] %></small>
  </h1>
</div>

<div class="row">
  <div class="span12">
    <%= render_characters @drill.flash_cards %>
  </div>
</div>
