<%= link_to "View examples", polymorphic_path([@teachable, @card, :examples]) %>
<p><%= @card.send @transcript %></p>
<p><%= @card.send @charset %></p>
<p><%= @card.part_of_speech %></p>
<p><%= @card.meaning %></p>
