<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= content_for :head %>
</head>
<body
  id="<%= controller.controller_name %>"
  class="<%= controller.action_name %>">

  <div class="container">
    <%= render :partial => "partials/navigation" %>

    <%= yield %>
  </div>
</body>
</html>
